/*共通*/
body {
    min-width: 1200px;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.enfont {
    font-family: 'Londrina Solid', cursive;
    font-size: 40px;
    color: #ffffff;
    font-weight: 400;
    text-shadow: 0 0 8px rgba(000,000,000,0.3) ;
}

.d-flex {
    display: flex;
}

.j-spacebetween {
    justify-content: space-between;
}

.j-spacearound {
    justify-content: space-around;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.gap-20 {
    gap:20px;
}

.gap-10 {
    gap:10px;
}

.main-title {
    font-size: 24px;
    font-weight: bold;
}

/*ヘッダー*/
.header {
    width: 100%;
    background-image: url(../img/top1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    z-index: 1;
}

.header:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header_container {
    width: 1200px;
    margin: 0 auto;
    padding:20px 40px 0px 40px;
}

.logo_menu {
    align-items: center;
}

.ul_header {
    border-collapse: separate;
    border-spacing: 40px 0;
}

.li_header {
    list-style: none;
    margin-left: 30px;
    color: white
}

.title_img {
    width: 60%;
    margin: 20px auto 10px;
}

.form {
    width: 70%;
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    margin: 0 auto;
    align-items: center;
}

.input {
    border: solid 2px red;
    width: 100%;
    margin: 0 auto;
}

.input_word {
    width: 300px;
    padding: 16px;
    background-color: white;
    font-size: 14px;
    border: solid lightgray 1px;
}
.form_button {
    background-color: red;
    color: white;
}

.submit {
    border: solid 1px black;
    padding:15px 12px 15px 24px; 
    background: url(../img/icon7.png) no-repeat 2px center;
}


/*メイン*/
.main-back {
    background-color: white;
    width: 1200px;
    margin: 0 auto;
}

.main_container {
    width: 800px;
    margin:20px 50px 0 40px;
}

.section-icon {
    width: 32px;
}

.recommend {
    flex: 1;
}

.border-red {
    border-bottom: red 2px solid;
    margin-bottom: 10px;
}

.article_recommend {
    margin-bottom: 50px;
}

.recommend-h2 {
    font-size: 24px;
    font-weight: bold;
}
.recommend-h3 {
    font-size: 16px;
    line-height: 32px;
    margin-left: 40px;
}

.main-title {
    padding: 10px 0px;
    border-bottom: red 2px solid;
    margin-bottom: 10px;
    margin-left: 10px;
}

.section-content {
    flex: 1;
    margin-bottom: 50px;
}

.hotspot-content {
    flex: 1;
    margin-bottom: 20px;
}

.sab_title {
    padding: 16px 20px;
    border-bottom: red 2px solid;
    margin-bottom: 10px;
}

.figcaption {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.p_recommend {
    font-size: 12px;
    padding: 0 10px;
}

.h3_review {
    padding: 20px 0;
    border-top: solid 1px #dadada;
    font-size: 20px;
    font-weight: bold;
}

.p-review {
    margin-bottom: 20px;
    font-size:12px;
}

.nav_area {
    float: left;
    list-style: none;
    margin: 5px;
    text-align: center;
    border: solid 1px #80808052;
    width: 60px;
}

.nav_area a{
    display: block;
    padding: 4px;
}

.nav_commitment {
    float: left;
    list-style: none;
    margin: 5px;
    text-align: center;
    border: solid 1px #80808052; 
}

.nav_commitment a {
    display: block;
    padding: 10px; 
}

.login_area {
    padding: 30px;
    border: solid 1px #dadada;
    background-color: #ffffe0;
}

.login_area-inner {
    padding: 10px;
    background-color: #f5f5f5;
}

.login {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: solid 1px #dadada;
}

.login_p {
    padding-top: 4px;
}

.login_img {
    padding-right: 6px;
}

.aside {
    margin-right:40px;
    margin-top: 20px;
    width: 270px;
}

.select-category figure {
    border: solid 1px #80808052;
}

.category_image {
    border-bottom: solid 1px #80808052;
}

.select-category a {
    display: block;
}

.select-category figcaption {
    text-align: center;
    padding:10px; 
}

.figure_recommend {
    border: solid 1px #80808052;
    background-color: #f5f5f5;
    width: 50%;
    padding-bottom: 10px;
}

.figure_recommend img {
    width: 100%;
}

.ad {
    margin-top: 20px;
    background-color: #80808052;
    width: 270px;
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.nav_title1 {
    background: url(../img/icon1.png) no-repeat;
    background-position: 2px 4px;
    padding: 1px 0px 30px 50px;
    border-bottom: solid 2px red;

}

.nav_title2 {
    background: url(../img/icon2.png) no-repeat;
    background-position: 2px 4px;
    padding: 1px 0px 30px 50px;
    border-bottom: solid 2px red;
}

.hot-spot-area {
    display: flex;
    flex-direction: column;
    height: 100px;
    flex-wrap: wrap;
}

.nav_spot {
    list-style: none;
    font-size: 14px;
    margin-bottom: 13px;
}

.hot-icon {
    color: orange;
}

.nav_title3 {
    border-bottom: solid 2px red;
}

.nav_title4 {
    background: url(../img/icon4.png) no-repeat;
    background-position: 2px 4px;
    padding: 1px 0px 30px 50px;
    border-bottom: solid 2px red;
}

.nav_commitment {
    float: left;
    list-style: none;
    margin: 5px;
    text-align: center;
}
.review_icon {
    border: 1px solid #80808052;
    background-color: #f5f5f5;
    padding: 10px;
    width:50%;
}
.review_icon-img {
    margin-right: 10px;
}

.review_icon-h3 {
    font-size: 18px;
    font-weight: bold;
}

/*フッター*/
.hr {
    margin-top: 30px;
    border: solid 2px #80808033;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.ul-footer {
    margin: 0 auto; 
}

.li_footer {
    list-style: none;
    margin: 0 20px;
}

.p_fotter {
    background-color: #dcd5d5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
